.rules-overlay {
  position: absolute;
  background: white;
  left: 0;
  right: 0;
  top: 0;  
  height: 0;
  transition: bottom 0.5s ease, padding 0.5s ease, height 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  
  &.active {
    padding: 5rem 3.5rem;
    height: 100%;
    bottom: 0;
  }

  img {
    margin-top: 27%;
    margin-bottom: 22%;
  }

  button {
    border: none;
    background: none;
  }
}