//GRADIENTS
$ScissorsGradient: 'hsl(39, 89%, 49%) to hsl(40, 84%, 53%)';
$PaperGradient: 'hsl(230, 89%, 62%) to hsl(230, 89%, 65%)';
$RockGradient: 'hsl(349, 71%, 52%) to hsl(349, 70%, 56%)';
$LizardGradient: 'hsl(261, 73%, 60%) to hsl(261, 72%, 63%)';
$Cyan: 'hsl(189, 59%, 53%) to hsl(189, 58%, 57%)';
$RadialBg: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);

//NEUTRALS
$DarkText: hsla(247, 10%, 37%, 1);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45%);